* {
    box-sizing: border-box;
  }
.box{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.info-box{
    display:flex;
    flex-direction:column;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
}
.title{
    text-align: center;
}
.start-button{
    margin: 0;
    position: absolute;
    left: 49%;
    padding: 1em;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}
.quiz-questions{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    margin: 100px;
    height: 200px;
}
.question-display{
    font-size: 30px;
}
.hide{
    display:none;
}